<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <!-- {% if user.is_authenticated %} -->
       Welcome <b>{{ user }}</b>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'new_post' %}">Create Post</a>
     <!-- {% else %} -->
       <!-- <a href="{% url 'login' %}">Login</a> <a href="{% url 'register' %}">Registration</a> -->
    <!-- {% endif %} -->

    {% if not posts %}
        <h3>Post bulunamadi</h3>
    {% else %}
        {% for post in posts %}
            <a href="{% url 'post_detail' post.id  %}"><h2>{{ post.title }}</h2></a>
            <b>{{ post.content }}</b><br/><br/>
            <b><a href="{% url 'delete_post' post.id %}">Delete Post</a> </b>
            <b><a href="{% url 'edit_post' post.id %}">Edit Post</a></b>
            <hr/>
        {% endfor %}
    {% endif %}
</body>
</html>